/* Global Colors */
:root { 
    --background-color: #cad2e9; /* Background color for the entire website, including individual sections */
    --default-color: #424343; /* Default color used for the majority of the text content across the entire website */
    --separator-color: #c8cbcb; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #050d18; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #320562; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --contrast-color: #ffffff; /* The contrast color is used for elements when the background color is one of the heading, accent, or default colors. Its purpose is to ensure proper contrast and readability when placed over these more dominant colors */
    --background-contrast-color: #ac9ee4; /*To be used for the background of important components like the header */ 
}

/* Fonts */
:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
    --brand-font: "Fira Sans",  sans-serif;
    --default-font-size: 1.5rem;
    --small-font-size: 1rem;
    --big-font-size: 2.5rem;
}

body {
    background: var(--background-color);
    color: var(--default-color);
    font-family: var(--default-font);
    font-size: var(--default-font-size);
}

.header {
    padding-top: 2em;
    background: var(--background-contrast-color);
    color: var(--default-color);
    font-family: var(--heading-font);
}

.header-navbar {
    background: var(--background-contrast-color);
    color: var(--default-color);
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom-style: solid;
    border-bottom-width: initial;
    border-bottom-color: var(--separator-color);
}

.header-item {
    color: var(--default-color);
    text-decoration: none;
}

.header-list-item {
    padding-top: 0;
    padding-bottom: 0;
}

.header-list-item:hover{
    background: var(--background-color);
}

.header-list-item.active{
    background: var(--accent-color);
    color: var(--contrast-color) !important;
}

.header-title{
    color: var(--accent-color);
    font-family: var(--brand-font);
    font-size: 2rem;
    padding-right: 4rem;
    padding-left: 1rem;;
}

.profile-photo {
    height: 100%;;
}

.section {
    background: var(--background-color);
    color: var(--default-color);
    padding-bottom: 3em;
    padding-top: 3em;
}

.first-section {
    padding-top: 5em;
}

.card {
    border: 0 none;
    background: var(--background-color);
    color: var(--default-color);
}

.card-footer {
    border: 0 none;
    background: var(--background-color);
    color: var(--default-color);
}

.section-header {
    color: var(--heading-color);
    padding-bottom: 1em;
    padding-top: 2em;
    font-family: var(--heading-font);
    font-size: 3rem;
}

.section-header-big {
    font-size: 4rem;
}

.section-header-small {
    font-size: 2rem;
}

.social-item {
    background: var(--background-color);
    border: 0 none;
}

.skill-item {
    padding-bottom: 1em;
}

.work-item {
    padding-bottom: 2em;
}

.work-date {
    font-size: var(--small-font-size);
    margin-bottom: 0;
}

.work-company {
    text-decoration: none;
    color: var(--default-color);
    font-size: var(--big-font-size);
    color: var(--default-color);
}

.contact-item {
    margin-bottom: 0;
    text-decoration: none;
    color: var(--default-color);
}

.contact-title {
    font-size: var(--small-font-size);
}

footer > p > a {
    text-decoration: none;
    color: var(--default-color);
}

footer {
    color: var(--default-color);
    font-size: small;
    line-height: 0.5rem;
    font-family: var(--heading-font);
    padding-top: 5em;
}